.container-slider {
    width: 90%;
    height: 70vh;
    margin: 0px auto 60px auto;
    position: relative;
    overflow: hidden;
    text-align: center;
}


button{
    all:unset;
}

@media screen and (max-width: 700px){
    .container-slider {
        margin: 100px 10px 0;
    }
}
.slide {
    border-radius: 20px;
    margin-left: 10%;
    width: 80%;
    height: 99%;
    position: absolute;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;
    box-shadow: -5px 5px 4px rgba(0, 0, 0, 0.25);
}

.slide img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.active-anim {
    opacity: 1;
}

.btn-slide {
    border-radius: 100%;
    width: 48px;
    height: 64px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-slide img {
    opacity: 1;
    width: 64px;
    height: 64px;
    pointer-events: none;
    filter: invert(35%) sepia(1%) saturate(2091%) hue-rotate(1deg) brightness(98%) contrast(90%);;
    transition: ease-in 0.3s;
}



.prev {
    top: 50%;
    left: 4vw;
    transform: translateY(-60%);
}
.next {
    top: 50%;
    right: 4vw;
    transform: translateY(-60%);
}


.container-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #f1f1f1;
    margin: 0 5px;
    background: #f1f1f1;
    transition: ease-in 0.2s;
}

.dot.active {
    background: #FFDD02;
    animation: ease-in dot-activate 0.4s;
}

@keyframes dot-activate {
    from {background: #f1f1f1}
    to {background: #FFDD02;}
}