.heads-sc{
    width: 90%;
    text-align: center;
    margin: 0 auto 100px auto;
    /*overflow: hidden;*/
}



.heads-sc-pictures {
    margin-top: 40px;
    height: 450px;
    position: relative;
    width: 90%;
    display: inline-block;
}

.head-sc-container {
    border-radius: 20px;
    position: relative;
    float: left;
    background-color: #fdd200;
    margin-right: 2%;

    animation: 1s ease-in-out background-appear;
}

.head-sc-left{
    margin: 0 2% 0 1%;
}

.head-sc-right{
    margin: 0 1% 0 0;
}

.head-sc-container-small {
    margin-top: 300px;
    width: 10%;
    height: 100px;
}

.head-sc-container-medium {
    margin-top: 150px;
    width: 20%;
    height: 200px;
}

.head-sc-container-big {
    width: 30%;
    height: 300px;
}


.head-sc-img {
    border-radius: 20px;
    position: relative;
    width: 100%;
    box-shadow: -9px 9px 4px rgba(0, 0, 0, 0.25);
    background-size: 100% auto;
}

.head-sc-img-small {
    height: 150px;
}

.head-sc-img-medium {
    height: 300px;
}

.head-sc-img-big{
    height: 450px;
}

.head-name {
    margin-top: 20px;
    font-size: 36px;
}

.head-title {
    margin-top: 5px;
    font-size: 26px;

}

@keyframes background-appear {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@keyframes head-text-appear {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media screen and (max-width: 1440px) {
    .head-sc-container-small {
        display: none;
    }

    .head-sc-container-medium {
        margin-top: 150px;
        width: calc(2*13%);
        height: 200px;
        margin-right: 0;
    }

    .head-sc-container-big {
        width: calc(3*13%);
        height: 300px;
        margin-right: 4.5%;
        margin-left: 4.5%;
    }

}

@media screen and (max-width: 1440px) {
    .head-sc-img-medium {
        height: 300px;
    }

    .head-sc-img-big{
        height: 450px;
    }
}

@media screen and (max-width: 1200px) {
    .heads-sc-pictures {
        height: 300px;
    }

    .head-sc-img-medium {
        height: 200px;
    }

    .head-sc-container-medium {
        margin-top: 100px;
    }

    .head-sc-img-big{
        height: 300px;
    }

    head-sc-container {
        height: 300px;
    }

}


@media screen and (max-width: 800px) {
    .heads-sc-pictures {
        height: 225px;
    }

    .head-sc-img-medium {
        height: 150px;
    }

    .head-sc-container-medium {
        margin-top: 75px;
    }

    .head-sc-img-big{
        height: 225px;
    }

    .head-sc-container {
        height: 225px;
    }

    .head-sc-container-medium {
        height: 150px;
    }
}

@media screen and (max-width: 600px) {
    .heads-sc-pictures {
        height: 150px;
    }

    .head-sc-img-medium {
        height: 100px;
    }

    .head-sc-container-medium {
        margin-top: 50px;
    }

    .head-sc-img-big{
        height: 150px;
    }

    .head-sc-container {
        height: 150px;
    }

    .head-sc-container-medium {
        height: 100px;
    }
}