.heads-sc{
    width: 90%;
    text-align: center;
    margin: 0 auto 100px auto;
    /*overflow: hidden;*/
}



.heads-sc-pictures {
    margin-top: 40px;
    height: 450px;
    position: relative;
    width: 90%;
    display: inline-block;
}

.head-sc-container {
    border-radius: 20px;
    position: relative;
    float: left;
    background-color: #fdd200;
    margin-right: 2%;

    animation: 1s ease-in-out background-appear;
}

.head-sc-left{
    margin: 0 2% 0 1%;
}

.head-sc-right{
    margin: 0 1% 0 0;
}

.head-sc-container-small {
    margin-top: 300px;
    width: 10%;
    height: 100px;
}

.head-sc-container-medium {
    margin-top: 150px;
    width: 20%;
    height: 200px;
}

.head-sc-container-big {
    width: 30%;
    height: 300px;
}


.head-sc-img-small {
    border-radius: 20px;
    position: relative;
    width: 100%;
    height: 150px;
    box-shadow: -9px 9px 4px rgba(0, 0, 0, 0.25);
    background-size: 100% auto;
}

.head-sc-img-medium {
    border-radius: 20px;
    position: relative;
    width: 100%;
    height: 300px;
    box-shadow: -9px 9px 4px rgba(0, 0, 0, 0.25);
    background-size: 100% auto;
}

.head-sc-img-big{
    border-radius: 20px;
    position: relative;
    width: 100%;
    height: 450px;
    box-shadow: -9px 9px 4px rgba(0, 0, 0, 0.25);
    background-size: 100% auto;
}

.head-name {
    margin-top: 20px;
    font-size: 36px;
}

.head-title {
    margin-top: 5px;
    font-size: 26px;

}

@keyframes background-appear {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@keyframes head-text-appear {
    from { opacity: 0; }
    to   { opacity: 1; }
}