.container-slider {
    width: 90%;
    height: 600px;
    margin: 0px auto 60px auto;
    position: relative;
    overflow: hidden;
    text-align: center;
}


button{
    all:unset;
}

@media screen and (max-width: 700px){
    .container-slider {
        margin: 100px 10px 0;
    }
}
.slide {
    border: 2px solid #000000;
    border-radius: 20px;
    margin-left: 10%;
    width: 80%;
    height: 99%;
    position: absolute;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;

}
.slide img {
    border-radius: 20px;

    width: 100%;
    height: 100%;
    object-fit: cover;
}
.active-anim {
    opacity: 1;
}

.btn-slide {
    width: 48px;
    height: 48px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.btn-slide img {
    width: 48px;
    height: 48px;
    pointer-events: none;
}

.prev {
    top: 50%;
    left: 4vw;
    transform: translateY(-60%);
}
.next {
    top: 50%;
    right: 4vw;
    transform: translateY(-60%);
}


.container-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #f1f1f1;
    margin: 0 5px;
    background: #f1f1f1;
}
.dot.active {
    background: #FFDD02;
}