/*BACKGROUND*/

.point {
    z-index: 1;
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: #141414;
}

.point-right {
    left: 220px;
    top: 45%;
    float: right;
}

.point-left {
    top: 45%;
    left: -220px;
    float: left;
}

.point-right-start {
    top: 35%;
    left: 220px;
    float: right;
}

.line {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='20' stroke-dasharray='8, 10' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
    position: relative;
    display: inline-block;
    padding: 2px;
}

.top-line {
    margin-left: 10px;
    width: calc(100% - 155px);
    top: -25px;
    float: left;
}

.bottom-line-left {
    width: calc(100% - 2*141px);
    top: 95%;
    right: 133px;
}

.bottom-line-right{
    width: calc(100% - 2*141px);
    top: 95%;
    left: 145px;
}

.bottom-line-start-right {
    width: calc(100% - 2*141px);
    top: 355px;
    left: 145px;
}


.oblique-right-top-line-start {
    width: 217px;
    top: 65px;
    float: right;
    left: 25px;
    transform: rotate(60deg) ;
}

.oblique-right-down-line-start {
    width: 217px;
    top: 275px;
    float: right;
    left: 303px;
    transform: rotate(-60deg) ;
}

.oblique-right-top-line {
    width: 217px;
    top: 92px;
    float: right;
    left: 25px;
    transform: rotate(60deg) ;
}

.oblique-right-down-line {
    width: 217px;
    top: 299px;
    float: right;
    left: 305px;
    transform: rotate(-60deg);
}


.oblique-left-top-line {
    width: 217px;
    top: 90px;
    float: left;
    right: 20px;
    transform: rotate(-60deg) ;
}

.oblique-left-down-line {
    width: 217px;
    top: 300px;
    float: left;
    right: 300px;
    transform: rotate(60deg) ;
}